ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

.loading {
  text-align: center;
  padding: 20px;
}

.error {
  color: red;
  text-align: center;
  padding: 20px;
}

.container {
  margin-top: 20px;
}

span {
  color: red;
  font-size: 8px;
  margin-top: 8px;
}

.button {
  display: flex;
  width: 100%;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: var(--text-button-modal);
  font-family: var(--mediumFont, Poppins);
  letter-spacing: -0.02em;
  gap: 8px;
  margin-top: 24px;
  border-radius: 8px;
  background: var(--border-input);
  border: none;
}

.modalTitle {
  margin-bottom: 24px;
}

.plusModal {
  background-color: var(--text-button-modal);
  color: var(--icon-modal);
  width: 28px;
  height: 28px;
  padding: 7px;
  border-radius: 6px;
}

.edit,
.delete,
.move {
  stroke: var(--without-priority);
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
}

.item {
  width: 100%;
  border-radius: 8px;
  background: var(--background-task);
  border-left: 4px solid red;
  padding: 14px 20px;
  position: relative;
}

.item::after {
  position: absolute;
  content: "";
  bottom: 60px;
  width: 88%;
  height: 1px;
  background-color: var(--without-priority);
}

.title {
  color: var(--text);
  font-family: var(--semiBoltFont, Poppins);
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.text {
  color: var(--no-active);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--mediumFont, Poppins);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.label {
  color: var(--text);
  font-family: var(--mediumFont, Poppins);
  font-size: 10px;
  letter-spacing: -0.002em;
}

.input {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.subtitle {
  color: var(--no-active);
  font-family: var(--mediumFont, Poppins);
  font-size: 8px;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
}

.iconContainer {
  margin-left: auto;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.iconButtons {
  border: none;
  width: 16px;
  height: 16px;
  background: inherit;
}

.priority {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 14px;
}

.subcontainer {
  display: flex;
  gap: 8px;
  margin-top: 28px;
}

.addModal {
  border-radius: 8px;
  border: 1px solid var(--border-modal-card);
  background: var(--background-task-modal);
  width: 100%;
  padding: 24px;
  position: relative;
}

.close {
  stroke: var(--text);
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: var(--background-task-modal);
}

.columnButton {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.modalTitle {
  color: var(--text);
  font-family: var(--mediumFont, Poppins);
  font-size: 18px;
  letter-spacing: -0.02em;
}

.modalInputTitle {
  width: 100%;
  padding: 14px 0;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid var(--border-input-modal);
  opacity: 0.4;
  background: var(--background-input-modal);
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  color: var(--text);
  font-family: var(--regularFont, Poppins);
  letter-spacing: -0.02em;
}

.modalInputTitle:not(:last-child) {
  margin-bottom: 14px;
}

.modalSubtitle {
  color: var(--no-active);
  font-family: var(--regularFont, Poppins);
  font-size: 12px;
  letter-spacing: -0.02em;
}

.modalButton {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--base-green-violet);
  font-family: var(--mediumFont, Poppins);
  letter-spacing: -0.02em;
  padding: 10px 0px;
  gap: 8px;
}

.priority {
  position: relative;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

/* Сховуємо стандартну радіо кнопку */
.priority input[type="radio"] {
  position: absolute;
  opacity: 0;
}

/* Стилі для кастомного кола */
.radioCustom {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(
    --without-priority
  ); /* Колір для незаповненого інпуту */
  transition: background-color 0.3s;
  display: inline-block;
  margin-right: 8px;
}

/* Кольори для кожного пріоритету */
.priorityWithout input:checked ~ .radioCustom {
  background-color: var(--without-priority); /* Без пріоритету */
}

.priorityLow input:checked ~ .radioCustom {
  background-color: var(--low-priority); /* Низький пріоритет */
}

.priorityMedium input:checked ~ .radioCustom {
  background-color: var(--medium-priority); /* Середній пріоритет */
}

.priorityHigh input:checked ~ .radioCustom {
  background-color: var(--high-priority); /* Високий пріоритет */
}
@media screen and (min-width: 768px) {
  .addModal {
    width: 334px;
    position: fixed;
    top: 300px;
    left: 390px;
    transform: translate(-50%, -50%);
  }
}
