.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000cc;
    z-index: 1000;
}

.modalContent {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    border-radius: 8px;
    border: 1px solid var(--logout-plus-active);
    background: #151515;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 14px;
    right: 14px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text);
    cursor: pointer;
}

.modalName {
    color: var(--text);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-bottom: 24px;
}

.input {
    color: var(--text);
    padding: 14px 18px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--logout-plus-active);
    background: #1F1F1F;
    box-shadow: 0px 4px 16px 0px #16161614;
    margin-bottom: 24px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input:hover {
    border: 1px solid var(--logout-plus-no-active);
}

.input:focus {
    border: 1px solid var(--logout-plus-no-active);
}

.input::placeholder {
    color: var(--text);
    opacity: 0.4;
    letter-spacing: -0.02em;
}

.error {
    color: #fe6262;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.sectionName {
    color: var(--text);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-bottom: 14px;
}

.iconOptions {
    display: flex;
    gap: 8px;
    justify-content: left;
    margin-bottom: 24px;
}

.iconOption {
    width: 18px;
    height: 18px;
    stroke: var(--text);
    opacity: 0.5;
    fill: transparent;
    cursor: pointer;
}

.iconOption.selected {
    stroke: var(--text);
    opacity: 1;
}

.backgroundOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: left;
    margin-bottom: 40px;
    max-width: 278px;
}

.iconLabel,
.backgroundLabel {
    display: flex;
    align-items: center;
}

.hiddenInput {
    display: none;
}


.backgroundOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: left;
    margin-bottom: 40px;
    max-width: 278px;
}

.backgroundOption {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 4px;
    background-size: cover;
  }
  
.saveButton {
    display: flex;
    width: 287px;
    padding: 10px 0px 11px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--logout-plus-active);
    cursor: pointer;
    color: var(--background);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    border: none;
}

.saveButton:hover {
    background-color: var(--logout-plus-no-active);
}

.modalPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--text);
    width: 28px;
    height: 28px;
    height: 28px;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .modalContent {
        width: 350px;
    }
}