.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.boardName {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--background-heder);
  box-shadow: 0 0 8px 2px var(--base-green-violet);
  background-color: var(--base-green-violet);
  border-radius: 20%;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 2px var(--base-green-violet);
  background-color: var(--base-green-violet);
  border-radius: 20%;
}

.btn {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--background-heder);
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
}

.filterIcon {
  width: 16px;
  height: 16px;
  stroke: var(--background-heder);
  fill: transparent;
}

@media (min-width: 768px) {
  .head {
    margin-bottom: 26px;
  }

  .boardName {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .head {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
