@font-face {
  font-family: 'Poppins';
  src: url('/src/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sidebar {
  font-family: semiBoltFont;
  background-color: #121212;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04em;
  width: 225px;
  padding-top: 18px;
  border: solid 1px #BEDBB0;
  border-radius: 16px;
}

.sidebarLogo {
  width: 104px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 14px 70px 14px;
}

.sidebarLogoIcon {
  display: flex;
  justify-content: center;
  fill: #FFFFFF;
  height: 32px;
  width: 32px;
}

.sidebarLogoName {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.014em;
}

.sidebarBoards {
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin: 0 14px 8px 14px;
}

.sidebarCreate {
  padding: 14px 2px 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px rgba(255, 255, 255, 0.10);
  border-bottom: solid 1px rgba(255, 255, 255, 0.10);
  margin: 0 14px 40px 14px;
}

.sidebarCreateText {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  width: 76px;
}

.sidebarCreateButton {
  width: 40px;
  height: 36px;
  font-size: 20px;
  font-weight: 900;
  color: #121212;
  flex-shrink: 0;
  border-radius: 6px;
  border: none;
  background-color: #BEDBB0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarCreateButton:hover {
  background-color: #9DC888;
}

.tabsContainer {
  height: 183px;
  width: 225px;
  margin-bottom: auto;
}

.tabsScrollContainer {
  overflow-y: auto;
  max-height: 183px;
}

.tabsScrollContainer::-webkit-scrollbar {
  width: 3px;
}

.tabsScrollContainer::-webkit-scrollbar-track {
  background: transparent;
}

.tabsScrollContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.tabsScrollContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabsScrollContainer::-webkit-scrollbar-button {
  display: none;
}

.tab {
  height: 61px;
  cursor: pointer;
  padding: 20px 14px 20px 14px;
  border-radius: 0;
  position: relative;
}

.boardTabSpan {
  width: 4px;
  height: 61px;
  border-radius: 4px 0px 0px 4px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.tab[aria-selected="true"] {
  background: rgba(31, 31, 31, 0.4);

  .boardTitle {
    color: #FFF;
  }

  .boardIconMain {
    width: 18px;
    height: 18px;
    stroke: #fff;
    fill: transparent;
  }

  .boardIcon {
    width: 16px;
    height: 16px;
    display: flex;
    stroke: rgba(255, 255, 255, 0.5);
    fill: transparent;
  }

  .boardTabSpan {
    width: 4px;
    height: 61px;
    border-radius: 4px 0px 0px 4px;
    background-color: #BEDBB0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .editButton,
  .deleteButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

.editButton,
.deleteButton {
  display: none;
}

.boardIcon {
  width: 16px;
  height: 16px;
  display: flex;
  stroke: transparent;
  fill: transparent;
}

.tabFlex {
  display: flex;
  justify-content: space-between;
}

.boardIconMain {
  width: 18px;
  height: 18px;
  display: flex;
  stroke: rgba(255, 255, 255, 0.5);
  fill: transparent;
}


.boardItemMain {
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardTitle {
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.boardButtons {
  display: flex;
  gap: 8px;
}

.sidebarHelp {
  width: 197px;
  height: 238px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #1F1F1F;
  padding: 14px 14px 15px 15px;
  margin: 0 14px 24px 14px;
}

.sidebarHelpImg {
  width: 54px;
  height: 78px;
  margin-bottom: 14px;
}

.sidebarHelpText {
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
  margin-bottom: 18px;
}

.sidebarHelpTextSpan {
  color: #BEDBB0;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
}

.sidebarHelpButton {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100px;
  height: 20px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.015em;
  border: none;
  border-radius: 8px;
  background-color: inherit;
  padding: 0;
}

.sidebarHelpIcon {
  width: 20px;
  height: 20px;
  stroke: #fff;
  fill: transparent;
  transition: stroke 0.5s ease;
}

.sidebarLogoutButton {
  margin-left: 24px;
  margin-bottom: 24px;
  display: flex;
  width: 105px;
  height: 32px;
  align-items: center;
  gap: 14px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.015em;
  border: none;
  border-radius: 8px;
  background-color: inherit;
  padding: 0;
  transition: transform 0.3s ease, color 0.3s ease;
}

.sidebarLogoutButton:hover {
  transform: translateX(16px);
}

.sidebarLogoutSvg {
  width: 32px;
  height: 32px;
  stroke: rgba(190, 219, 176, 1);
  fill: transparent;
  transition: stroke 0.5s ease;
}

.sidebarLogoutButton:hover .sidebarLogoutSvg {
  stroke: #BEDBB0;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 260px;
    padding-top: 24px;
  }

  .sidebarBoards {
    margin: 0 14px 8px 24px;
  }

  .sidebarCreate {
    margin: 0 14px 40px 24px;
  }

  .tabsContainer {
    height: 359px;
    width: 260px;
    margin-bottom: auto;
  }

  .tabsScrollContainer {
    overflow-y: auto;
    max-height: 359px;
  }

  .tab {
    padding: 20px 14px 20px 24px;
  }

  .sidebarHelp {
    width: 212px;
    height: 272px;
    padding: 20px;
    margin: 0 24px 24px 24px;
  }

  .sidebarHelpText {
    width: 172px;
    height: 102px;
    font-size: 14px;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.28px;

  }

  .sidebarHelpTextSpan {
    font-size: 14px;
    line-height: 20px;
letter-spacing: -0.28px;
  }
  .tabFlex {
    display: flex;
    justify-content: space-between;
  }
}


/* @media screen and (min-width: 1280px){

} */
