@font-face {
  font-family: mediumFont;
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: semiBoltFont;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

* {
  font-family: regularFont sans-serif;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    font-family: semiBoldFont, mediumFont, regularFont sans-serif;

    color-scheme: light;
    --base-green-violet: #bedbb0;
    --active-green-violet: #9dc888;
    --text: #161616;
    --background: #ffffff;
    --no-active: #ffffff80;
    --without-priority: #ffffff4d;
    --low-priority: #8fa1d0;
    --medium-priority: #e09cb5;
    --logout-plus-active: #bedbb0;
    --logout-plus-no-active: #9dc888;
    --favicon-color: #fff;
    --background-board: #f6f6f7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --base-green-violet: #bedbb0;
    --active-green-violet: #9dc888;
    --text: #ffffff;
    --background: #161616;
    --no-active: #ffffff80;
    --without-priority: #ffffff4d;
    --low-priority: #8fa1d0;
    --medium-priority: #e09cb5;
    --logout-plus-active: #bedbb0;
    --logout-plus-no-active: #9dc888;
    --background-board: #1f1f1f;
  }
}

@media (prefers-color-scheme: violet) {
  :root {
    color-scheme: violet;

    --no-active: #ffffff80;
    --without-priority: #ffffff4d;
    --low-priority: #8fa1d0;
    --medium-priority: #e09cb5;
    --text: #ffffff;
    --background: #ecedfd;
    --base-green-violet: #7b7ede;
    --active-green-violet: #5255bc;
    --logout-plus-active: #b8bcfd;
    --logout-plus-no-active: #fff;
    --background-board: #ecedfd;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

input::placeholder {
  color: #fff;
}

/* new */

::before,
::after {
  animation: none;
  transition: none;
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

input,
button,
textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

* {
  box-sizing: border-box;
}

/* .container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 20px;
  }
} */
