
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: Poppins, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    font-family: Poppins, mediumFont, regularFont sans-serif;

    color-scheme: light;
    --base-green-violet: #bedbb0;
    --active-green-violet: #9dc888;
    --text: #161616;
    --background: #f6f6f7;
    --no-active: #ffffff80;
    --without-priority: #ffffff4d;
    --low-priority: #8fa1d0;
    --medium-priority: #e09cb5;
    --high-priority: #bedbb0;
    --logout-plus-active: #bedbb0;
    --logout-plus-no-active: #9dc888;
    --favicon-color: #fff;
    --card-button-text: #161616;
    --background-task: #fff;
    --border-modal-card: #fcfcfc;
    --border-input-modal: #bedbb0;

    --background-button: #fff;
    --text-column: #161616;
    --background-task-modal: #fcfcfc;
    --border-input: #bedbb0;
    --background-input-modal: #ffffff;
    --text-button-modal: #161616;
    --icon-modal: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --base-green-violet: #bedbb0;
    --active-green-violet: #9dc888;
    --text: #ffffff;
    --background: #1f1f1f;
    --no-active: #ffffff80;
    --without-priority: #ffffff4d;
    --low-priority: #8fa1d0;
    --medium-priority: #e09cb5;
    --logout-plus-active: #bedbb0;
    --logout-plus-no-active: #9dc888;
    --card-button-text: #161616;
    --background-task: #121212;
    --border-modal-card: rgba(190, 219, 176, 0.5);
    --border-input-modal: #bedbb0;

    --background-input-modal: #1f1f1f;
    --background-button: #121212;
    --text-column: #fff;
    --background-task-modal: #151515;
    --border-input: #bedbb0;
    --text-button-modal: #161616;
    --icon-modal: #fff;
  }
}

@media (prefers-color-scheme: violet) {
  :root {
    color-scheme: violet;

    --no-active: #ffffff80;
    --without-priority: #ffffff4d;
    --low-priority: #8fa1d0;
    --medium-priority: #e09cb5;
    --text: #ffffff;
    --background: #ecedfd;
    --base-green-violet: #7b7ede;
    --active-green-violet: #5255bc;
    --logout-plus-active: #b8bcfd;
    --logout-plus-no-active: #fff;
    --card-button-text: #fff;
    --background-task: #fff;
    --border-modal-card: #fcfcfc;
    --border-input-modal: #5255bc;

    --background-button: #fff;
    --text-column: #161616;
    --background-task-modal: #fcfcfc;
    --border-input: #5255bc;
    --background-input-modal: #ecedfd;
    --text-button-modal: #fff;
    --icon-modal: #161616;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

input::placeholder {
  color: #fff;
}

/* new */

::before,
::after {
  animation: none;
  transition: none;
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

input,
button,
textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

* {
  box-sizing: border-box;
}

/* .container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 20px;
  }
} */
