.sidebar {
  display: none;
}

@media (min-width: 1440px) {
  .sidebar {
    display: block;
  }
}

.dashboardContainer {
  position: relative;
  padding: 14px 20px 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: var(--background);
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 1440px) {
  .dashboardContainer {
    background-image: var(--desktop-bg);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .dashboardContainer {
    background-image: var(--tablet-bg);
  }
}

@media (max-width: 767px) {
  .dashboardContainer {
    background-image: var(--mobile-bg);
  }
}

@media screen and (min-width: 768px) {
  .dashboardContainer {
    padding: 26px 20px 0;
    height: calc(100vh - 68px);
  }
}

@media screen and (min-width: 1440px) {
  .dashboardContainer {
    width: calc(100vw - 260px);
    margin-left: auto;
  }
}

/* .container {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }
} */
